
.navbar{
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #1d274a;
  position: fixed;
  z-index: 999;
  top: 0px;
}

.navbar ol{
  display: flex;
  list-style: none;
}

.navbar ol li {
  margin-left: 40px;
  margin-top: 5px;
  padding: 20px 10px;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.navbar ol li:hover{
  background: #b71910;
}

.navbar ol li a{
  text-decoration: none;
  color: white;
  padding: 20px 20px 20px 20px;
}

.navbar-brand{
  font-size: 3rem;
  color: white;
  padding: 30px 30px;
  padding-top: 20px;
}

body{
  overflow-y: auto !important;
  overflow-x: hidden !important;
  
}

body p,a{
  font-family: arial !important;
}

#footer {
  left: 0;
  bottom: 0;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}


#footer p {
   font-family:Arial;
   color:white;
} 

#wrapper{
  min-height: calc(100vh - 60px);
}

h6{
    color:White;
}



h1.a{
  border-bottom-style: solid;
  border-bottom-color: #b71910;
  font: 50px Arial, sans-serif;
}


#container{
width: 900px;
margin: 0 auto;        
}

/*Responsive başı*/
@media (max-width: 768px){
  
  
  .navbar{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

  }

  h1.a{
    font-size:3.5rem;
  }

  #container{

    padding: 15px;
  }

  
  #footer{
    width: 100%;
    height: 750px;
    display: block;
  }

  .navbar-brand{
    margin: 15px 0px 0px 10px;
 
  }

  .navbar ol{
    display: block;
  }

  .navbar ol li{
    margin: 0px 0px 0px 70px;
    border-bottom: 1px solid rgb(145, 145,145);
  }

  .space{
    display:none;
  }

  .backgroundd{
    resize: vertical;
    overflow: hidden;
    position: relative;
  }

  h1.a{
    font-size:3.5rem;
  }
}